{
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "plugins": [
    "prettier",
    "jest",
    "react-hooks"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "printWidth": 100,
      "tabWidth": 2,
      "semi": true,
      "trailingComma": "es5"
    }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/no-did-mount-set-state": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/anchor-has-content": "off",
    "no-unused-vars": "error"
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
